.ipynb*
!.gitignore
*.log
*.html
*.pyc
*.7z
venv
*.mmdb
dev/
venv2
venv3
build
dist
*.egg-info
*.whl
.coverage
.coverage.*
htmlcov/
*.cover
.hypothesis/
.pytest_cache/
coverage.xml
*.py,cover
.github/.DS_Store
